extends ../layout

block variables
  - var __title__ = 'Profile'
  - var __page__ = 'profile'
  - var __breadcrumb__ = [{title:'Home', link:'/'}]

block content
  .wrapper.wrapper-content.animated.fadeInRight
    .row.m-b-lg.m-t-lg
      .col-md-6
        .profile-image
          img.rounded-circle.circle-border.m-b-md(src=user.gravatar(), alt='profile')
        .profile-info
          div
            div
              h2.no-margins
                | #{user.profile.firstname} #{user.profile.lastname}
              h4 #{user.profile.group}
              small
                | There are many variations of passages of Lorem Ipsum available, but the majority
                | have suffered alteration in some form Ipsum available.
      .col-md-3
        table.table.small.m-b-xs
          tbody
            tr
              td
                strong 142
                |  Projects
              td
                strong 22
                |  Followers
            tr
              td
                strong 61
                |  Comments
              td
                strong 54
                |  Articles
            tr
              td
                strong 154
                |  Tags
              td
                strong 32
                |  Friends
      //- .col-md-3
      //-   small Sales in last 24h
      //-   h2.no-margins 206 480
      //-   #sparkline1
    .row
      .col-lg-4
        .ibox
          .ibox-title
            h5 Change password
          .ibox-content
            form(action='/profile/password', method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              //- p Sign in today for more expirience.
              .form-group
                label New password
                input.form-control(type='password', name='password', placeholder='New password')
              
              .form-group
                label Confirm password
                input.form-control(type='password', name='password2', placeholder='Confirm password')
              
              .form-group
                button.btn.btn-primary.btn-lg(type='submit') Change password
                .col-lg-offset-4.col-lg-8
      
      .col-lg-4
        .ibox
          .ibox-title
            h5 Update profile
          .ibox-content
            form(action='/profile/profile', method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              input(type='hidden', name='email', value=user.email)
                //- p Sign in today for more expirience.
              .form-group.row
                label.col-lg-4.col-form-label First name
                .col-lg-8
                  input.form-control(type='text', name='firstname', placeholder='First name', value=user.profile.firstname)
                  
              .form-group.row
                label.col-lg-4.col-form-label Last name
                .col-lg-8
                  input.form-control(type='text', name='lastname', placeholder='Last name', value=user.profile.lastname)
                    
              .form-group.row
                label.col-lg-4.col-form-label Group
                .col-lg-8
                  input.form-control(type='text', name='group', placeholder='Group', value=user.profile.group)
                    
              .form-group.row
                .col-lg-offset-4.col-lg-8
                  button.btn.btn-primary.btn-lg(type='submit') Update    

      .col-lg-4
        .ibox
          .ibox-title
            h5 Delete profile
          .ibox-content
            form(action='/profile/delete', method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
              input(type='hidden', name='_csrf', value=_csrf)
              p You can delete your account, but keep in mind this action is irreversible.
              
              .form-group.row
                .col-lg-offset-4.col-lg-8
                  button.btn.btn-danger.btn-lg(type='submit') Delete profile 
  
