extends ../layout

block variables
  - var __title__ = course.title
  - var __page__ = 'course:full'
  - var __pages__ = __page__.split(':')
  - var __breadcrumb__ = [{title:'Home', link:'/'}, {title:'Course list', link:'/courses'}]

block content
  .wrapper.wrapper-content.animated.fadeInUp
    .row
      .col-lg-9
        .wrapper.wrapper-content.animated.fadeInUp
          .ibox
            .ibox-content
              .row
                .col-lg-12
                  .m-b-md
                    h2 #{course.title}
                      if !liked
                        a.btn.btn-white.btn-xs(href='/courses/'+course._id+'/like') like
                      else
                        a.btn.btn-white.btn-xs(href='/courses/'+course._id+'/unlike') unlike
              .row
                .col-lg-6
                  dl.row.mb-0
                    .col-sm-4.text-sm-right
                      dt Status:
                    .col-sm-8.text-sm-left
                      dd.mb-1
                        span.label.label-primary Active
                  dl.row.mb-0
                    .col-sm-4.text-sm-right
                      dt Created by:
                    .col-sm-8.text-sm-left
                      dd.mb-1= (course.createdBy && course.createdBy.profile ? course.createdBy.profile.firstname + ' ' + course.createdBy.profile.lastname : '<empty>')
                  //- dl.row.mb-0
                  //-   .col-sm-4.text-sm-right
                  //-     dt Messages:
                  //-   .col-sm-8.text-sm-left
                  //-     dd.mb-1  162
                #cluster_info.col-lg-6
                  dl.row.mb-0
                    .col-sm-4.text-sm-right
                      dt Created:
                    .col-sm-8.text-sm-left
                      //- dd.mb-1 #{course.createdAt ? course.createdAt.toISOString() : course.createdAt}
                      dd.mb-1 #{moment(course.createdAt).format('DD.MM.YYYY')}
                  
              .row.m-t-sm
                .col-lg-12
                  .panel.blank-panel
                    .panel-heading
                      .panel-options
                        ul.nav.nav-tabs
                          li
                            a.nav-link.active(href='#tab-1', data-toggle='tab') Lessons
                          //- li
                            a.nav-link(href='#tab-2', data-toggle='tab') Modules
                    .panel-body
                      .tab-content
                        #tab-1.tab-pane.active
                          table.table.table-striped
                            thead
                              tr
                                th ID
                                th Title
                                th Description
                                th File
                                tbody
                                  each module, ind in course.modules
                                    tr
                                      td #{ind+1}
                                      td #{module.title}
                                      td #{module.desc}
                                      td
                                        if module.video
                                          a.btn.btn-sm.btn-primary.btn-sm.btn-video-modal(href='http://it-hindus.site:9000/test/'+module.video, title=module.title)
                                            | Video
                                  
      .col-lg-3
        .wrapper.wrapper-content.project-manager
          h4 Course description
          //- img.img-fluid(src='img/zender_logo.png')
          p.small #{course.desc}
          if user.isAdmin
            h5 :DEBUG:
            p.small !{JSON.stringify(user)}
            h5 :DEBUG:
            p.small !{JSON.stringify(course)}
            
            .text-center.m-t-md
              form(method='POST', action='/courses/'+course._id+'/delete')
                input(type='hidden', name='_csrf', value=_csrf)
                button.btn.btn-danger.btn-xs(type='submit', onclick='return confirm("are you sure?");') Delete course
                a.btn.btn-white.btn-xs(href='/courses/'+course._id+'/edit') Edit course
